* {
  font-family: "Michroma", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

:root {
  color: #e35757;
  color: #303030;
}

body {
  background-color: black;
}

/* NAVBAR */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social-media {
  margin: 20px 20px 0 0;
}

.social-media img {
  width: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #303030;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #e35757;
}

.close-button:hover {
  color: #e35757;
}

.sidenav .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-button {
  margin: 7px 0 0 20px;
  font-size: 20px;
  cursor: pointer;
}

.menu-button:hover {
  color: #e35757;
}

/* HEADER */
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-image: url(img/planeta\ header.jpeg);
  background-size: cover;
  background-position: top;
  text-align: center;
}

.header h1 {
  padding: 250px 0 0 0;
  font-size: 4rem;
}
.header h2 {
  font-size: 2rem;
}
.header p {
  width: 50%;
  font-size: 1rem;
}

/*DESTINOS*/
.destino {
  width: 90%;
  display: grid;
  grid-template-rows: auto repeat(4, 450px);
  grid-template-columns: 2;
  grid-template-rows: 5;
  margin: auto;
  gap: 50px;
}

.titulo-destino {
  grid-column: span 2;
  text-align: center;
  color: #e35757;
  font-size: 2rem;
  margin-bottom: 50px;
}

.texto-destino {
  align-items: center;
  margin: auto;
}

.texto-destino p {
  font-size: 1rem;
}

.texto-destino h2 {
  color:#e35757;
}

.img-venus {
  background-image: url(img/destinos/venus.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.img-marte {
  background-image: url(img/destinos/marte.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.img-saturno {
  background-image: url(img/destinos/saturno.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.img-pluton {
  background-image: url(img/destinos/pluton.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}